@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  box-sizing: border-box;
  font: normal 100%/1.3 sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

section {
  background-color: #e2e2e2;
  margin: 0;
}

.img {
  display: inline-block;
  max-width: 25em;
}

.img-flex {
  display: block;
  width: 100%;
}

.text {
  display: inline-block;
  text-align: left;
  padding: 1rem;
  max-width: 25em;
}

.text p {
  margin: 0;
  margin-bottom: 2rem;
}

a {
  text-decoration: none;
  color: #fff;
  border: 3px solid #555;
  background-color: #555;
  border-radius: 4px;
  padding: 0.5em 0.75em;
}

@media only screen and (min-width: 25em) {

  html {
    font-size: 100%;
    line-height: 1.3;
  }

  section {
    text-align: center;
  }

  .text {
    width: 48%;
    vertical-align: middle;
  }

  .img {
    width: 50%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    vertical-align: middle;
  }
}

}
